# EXEMPLO DE PRODUÇÃO

VITE_API_URL=https://backend-pires.class.fabricadesoftware.ifc.edu.br/api
VITE_GOOGLE_CLIENT_ID=SEU_CLIENT_ID.apps.googleusercontent.com
VITE_MERCADO_PAGO_PUBLIC_KEY=PUBLIC_KEY_DE_PRODUCAO
